@use '../util/' as u;

.button {
  display: inline-flex;
  height: 50px;
  border-radius: calc(174px / 2);
  padding: 0 23.5px 0 25.5px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 u.rem(25);
  cursor: pointer;
  &--gray {
    background-color: var(--color-gray);
    color: var(--color-white);
  }
  &--black {
    background-color: var(--color-black);
    color: var(--color-white);
  }
  &--bordered {
    border: 2px solid var(--color-black);
    color: var(--color-black);
  }
}