@use '../util/' as u;

.category {
  background-color: var(--color-green);
  padding-top: u.rem(30);
  &__title {
    text-align: center;
    font-size: u.rem(40);
    font-weight: 600;
    padding-block: u.rem(90);
    line-height: 1.4;
  }
  &__grid {
    display: flex;
    justify-content: center;
    & > *:not(:last-child) {
      border-right: 2px solid var(--color-black);
    }
  }
  &__item {
    width: 50%;
    min-height: u.rem(670);
    padding: u.rem(50) 5% u.rem(20);
    border-top: 2px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__label {
    font-size: u.rem(20);
    max-width: u.rem(150);
    min-width: u.rem(100);
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid var(--color-black);
    padding: u.rem(10) u.rem(20);
    background-color: var(--color-white);
    margin-bottom: u.rem(30);
  }
  &__description {
    font-size: u.rem(20);
    max-width: u.rem(520);
    font-weight: 500;
    line-height: 1.4;
    text-align: center;
    justify-content: center;
  }
  &__image-container {
    max-height: u.rem(420);
    & img {
      object-fit: cover;
      max-height: u.rem(420);
    }
  }
}