@use '../util/' as u;

.discover {
  &__banner {
    height: 20rem;
  background-color: var(--color-black);
  }
  &__header {
    color: var(--color-white);
    line-height: 1.4;
    padding-top: u.rem(30);
  }
}