@use '../util/' as u;

.header {
  position: relative;
  font-weight: 500;
  &__container {
    padding-inline: u.rem(30);
    display: flex;
    height: u.rem(100);
    align-items: center;
    gap: u.rem(40);
  }
  &__right-bar {
    margin-inline-start: auto;
    text-transform: uppercase;
    padding-left: u.rem(20);
    display: flex;
    gap: u.rem(30);
  }
  &__search,
  &__cart {
    & i {
      font-size: u.rem(26);
      color: var(--color-black);
      }
  }
  &__login-button,
  &__start-button {
    color: inherit;
    display: flex;
    align-items: center;
  }
}

.logo {
  width: u.rem(38);
  &__image {
    max-width: 100%;
  }
}