@use '../util/' as u;

.hero {
  padding: u.rem(80) u.rem(30);
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__left {
    width: 55%;
    margin-right: u.rem(20);
  }
  &__heading {
    margin-block-end: u.rem(40);
    font-size: u.rem(70);
    font-weight: 900;
    letter-spacing: u.rem(0.95);
    text-transform: uppercase;
    & span {
      display: block;
      color: transparent;
      -webkit-text-stroke-width: u.rem(2);
      -webkit-text-stroke-color: var(--color-black);
    }
  }
  &__description {
    font-size: u.rem(28);
    line-height: 1.4;
    max-width: u.rem(550);
    font-weight: 500;
  }
  &__buttons {
    display: flex;
    padding: u.rem(40) 0 u.rem(35);
    gap: u.rem(20);
  }
  &__button {
    min-width: u.rem(120);
    width: calc(50% - 5%);
    justify-content: center;
  }
  &__right {
    width: 35%;
  }
  &__image {
    width: 100%;
    -webkit-transform: rotate(10deg) translate3d(0, 0, 0);
    transform: rotate(10deg) translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateZ(10deg);
    & img {
      width: calc(100% - 2%);
      max-width: 410px;
      border: 2px solid #000000;
    }
  }
}

@media (width <= u.em(1010)) {
  .hero {
    &__container {
      display: block;
    }
    &__left {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      text-align: center;
      padding-inline: u.rem(20);
      margin-right: 0;
    }
    &__image {
      display: none;
    }
    &__buttons {
      flex-direction: column;
      align-items: center;
      width: u.rem(600);
      gap: u.rem(10);
    }
    &__button {
      width: 80%;
    }
  }
}

@media (width <= u.em(1010)) {
  .hero {
    &__buttons {
      width: u.rem(300);
    }
  }
}