@use '../util/' as u;

.slider-banner {
  padding-block: u.rem(30);
  background-color: var(--color-black);
  color: var(--color-white);
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  &__label {
    margin-bottom: u.rem(30);
    border: 2px solid var(--color-white);
    background: var(--color-black);
  }
  &__title {
    margin-bottom: u.rem(10);
  }
  &__description {
    max-width: u.rem(720);
    width: 65%;
    text-align: center;
    margin-bottom: u.rem(80);
    font-size: u.rem(20);
    line-height: 1.4;
  }
  &__button {
    text-transform: uppercase;
    color: var(--color-black);
    background-color: var(--color-yellow);
    min-width: u.rem(300);
  }
}

.slider {
  &__container {
    position: relative;
    height: u.rem(350);
    max-width: u.rem(500);
    margin-block: auto;
    width: u.rem(400);
    margin-bottom: u.rem(30);
  }
  &__image {
    position: absolute;
    opacity: 0;
    width: 100%;
    object-fit: cover;
    transition: opacity 0.3s;
    &.active {
      opacity: 1;
      transition: opacity 0.3s;
    }
  }
}