@use '../util/' as u;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 100%;
  // font-size: clamp(
  //   u.rem(16),
  //   0.9353448275862069rem + 0.27586206896551724vw,
  //   u.rem(18)
  // );
  line-height: 1.1;
  overflow-x: hidden;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.container {
  width: min(100% - u.rem(32), u.rem(1110));
  margin-inline: auto;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}


.desktop-hidden {
  display: none;
}

.hidden {
  display: none;
}

.arrow-button {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}